body {
    background-color:lightblue ;
    }
h1{
    font-family: "Arial Black", Gadget, sans-serif;
    color: black;
    margin: auto;
    width: 50%;
    font-size: 5em;
    }
h2{
    font-family: "Arial Black", Gadget, sans-serif;
    color: black;
    font-size: 30px;} 
p{font-family: "Times New Roman"
}         